.login-wrapper {
	width: 300px;
	margin: 50px auto;
}

.red-border {
    border: 1px solid red;
}

.auth-errorOff {
	color: #f00;
	display: none;
}

.auth-errorOn {
	color: #f00;
	display: block;
}

.wrapper {
	display: inline;
}